@import "navBar";
@import "imagenes";
@import "index";
@import "footer";
@import "mediaQueries";
@import "contacto";
@import "conocenos";
@import "shows";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: "Verdana", sans-serif; /* Cambia "Arial" por la fuente que desees */
}
